body{
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/back.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}
.container
{
    position: relative;
    height:50px;
    left:0px;
   
}
.heder
 {
    height:90px;
    width:100%; 
    background-size: 300px;
    background-repeat: no-repeat;
    border-bottom:2px solid #fafdfc;
    padding-top: 10px;
    font-size: 65px;
    font-weight: bold;
    color:white;
    
}
.titleee{
    padding-left: 40px;
}
.btn{
    position:absolute;
    top:-5px;
    right:20px;
    
}
button{
    color:white;
    height:35px;
    width:100px;

    background-image: linear-gradient(rgb(151, 97, 76),rgb(10, 5, 4));
    border-radius: 10px;

    
}
#data
{
    width:99%;
    height:450px;
    text-align: right;
    justify-content: center;
    display: flex;   
    
}
.table
{
    width:1300px;

}
table{
    color:white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font: 700;
    
}
table tr :hover{
    background-image: linear-gradient(rgb(14, 13, 13),rgb(68, 65, 65)) ;
}